/build
/dist
/.tox
*.pyc
/src/gemseo_box_subdivision.egg-info

/.project
/.pydevproject
/.settings
/.idea
/.vim*
/.vscode
/tags

/docs/_build

/htmlcov

/coverage.xml
/.coverage*
!/.coveragerc

/.pytest_cache
/docs/_autosummary

/.venv
/venv
